<app-header></app-header>
<div class="container flex flex-wrap">
  <app-aside class="w-1/4"></app-aside>
  <div class="main-content w-3/4">
    <div class="flex flex-wrap -mx-3 mb-5">
      <div class="w-full max-w-full px-3 mb-6 mx-auto">
        <div class="relative flex-1 flex flex-col break-words min-w-0 bg-clip-border rounded-lg bg-white m-5">
          <div
            class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
            <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
              <h3 class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl text-dark">
                <span class="mr-3 font-semibold text-dark">Productos</span>
              </h3>
              <div class="relative flex flex-wrap items-center my-2">
                <button (click)="openModalCreacion()"
                  class="inline-block text-sm font-medium leading-normal text-center align-middle cursor-pointer rounded-2xl transition-colors duration-150 ease-in-out text-light-inverse bg-celeste-pastel border-celeste-pastel shadow-none border-0 py-2 px-5 hover:bg-secondary active:bg-light focus:bg-light">
                  Agregar Producto
                </button>
              </div>
            </div>
            <div class="flex-auto block py-8 pt-6 px-9">
              <div class="overflow-x-auto">
                <input type="text" [(ngModel)]="terminoBusqueda" (input)="filtrarProductos()"
                  placeholder="Buscar por nombre..."
                  class="w-full py-2 px-3 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-blue-500">
                <div class="overflow-x-auto">
                  <table class="w-full my-0 align-middle text-dark border-neutral-200">
                    <thead class="align-bottom">
                      <tr class="font-semibold text-sm text-secondary-dark">
                        <th class="pb-3 text-start min-w-[100px]">Nombre</th>
                        <th class="pb-3 text-start min-w-[100px]">Descripcion</th>
                        <th class="pb-3 text-start min-w-[100px]">Foto</th>
                        <th class="pb-3 text-start min-w-[100px]">Precio</th>
                        <th class="pb-3 text-start min-w-[100px]">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of productosPaginados" class="border-b border-dashed last:border-b-0">
                        <td class="p-3 pl-0">{{ producto.nombre }}</td>
                        <td class="p-3 pl-0">{{ producto.descripcion }}</td>
                        <td class="p-3 pl-0">
                          <img [src]="getImageUrl(producto.imagen)" alt="Imagen del producto" class="max-w-[200px]">
                        </td>
                        <td class="p-3 pl-0">{{ producto.precio }}</td>
                        <td class="p-3 pl-0">
                          <button (click)="openModalModificacion(producto)"
                            class="text-sm font-medium text-white bg-blue-500 hover:bg-blue-700 rounded px-2 py-1 mx-1">Modificar</button>
                          <button (click)="eliminarProducto(producto.id)"
                            class="text-sm font-medium text-white bg-red-500 hover:bg-red-700 rounded px-2 py-1 mx-1">Eliminar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="flex justify-between my-5">
                  <button (click)="paginaAnterior()"
                    class="px-4 py-2 border border-gray-300 rounded-md bg-white text-gray-700 hover:bg-gray-50">Anterior</button>
                  <button (click)="siguientePagina()"
                    class="px-4 py-2 border border-gray-300 rounded-md bg-white text-gray-700 hover:bg-gray-50">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-container max-w-md mx-auto">
      <app-crear-producto #crearProductoModal>
        <form #productoForm="ngForm" (ngSubmit)="crearProducto(productoForm)" class="space-y-4">
          <div>
            <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre del Producto</label>
            <input type="text" name="nombre" id="nombre" [(ngModel)]="datosFormulario.nombre"  ngModel required placeholder="Nombre"
              placeholder="Nombre del producto"
              class="mt-1 p-2 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300">
              <div *ngIf="productoForm.submitted && productoForm.controls['nombre']?.errors?.['required']"
              class="text-red-500 text-xs mt-1">
              El nombre es obligatorio.
            </div></div>
          
          <div>
            <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
            <textarea name="descripcion" id="descripcion" [(ngModel)]="datosFormulario.descripcion" required
              placeholder="Descripción"
              class="mt-1 p-2 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300"></textarea>
              <div *ngIf="productoForm.submitted && productoForm.controls['descripcion']?.errors?.['required']"
              class="text-red-500 text-xs mt-1">
              La descripción es obligatoria.
            </div></div>
          <div class="flex items-center space-x-2">
            <input type="file" id="imagenInput" (change)="onFileSelected($event)" style="display: none"
              accept="image/*">
            <label for="imagenInput"
              class="inline-block text-sm font-medium leading-normal text-center align-middle cursor-pointer rounded-2xl transition-colors duration-150 ease-in-out text-light-inverse bg-celeste-pastel border-celeste-pastel shadow-none border-0 py-2 px-5 hover:bg-secondary active:bg-light focus:bg-light">
              Seleccionar Imagen
            </label>
            <div *ngIf="imagenSeleccionada">
              <img [src]="imagenSeleccionada" alt="Imagen seleccionada" class="max-w-[200px] mb-4 mt-2">
            </div>
           </div> <div *ngIf="!imagenSeleccionada && productoForm.submitted" class="text-red-500 text-xs mt-1">
            No se ha seleccionado una imagen válida.
          </div>
          <div>
            <label for="precio" class="block text-sm font-medium text-gray-700">Precio</label>
            <input type="number" name="precio" id="precio" [(ngModel)]="datosFormulario.precio" required
              placeholder="Precio"
              class="mt-1 p-2 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300">
              <div *ngIf="productoForm.submitted && productoForm.controls['nombre']?.errors?.['required']"
              class="text-red-500 text-xs mt-1">
              El precio es obligatorio.
            </div></div>
          <div class="flex items-center space-x-2">
            <button type="button" (click)="openModalRelacion()"
              class="inline-block text-sm font-medium leading-normal text-center align-middle cursor-pointer rounded-2xl transition-colors duration-150 ease-in-out text-light-inverse bg-celeste-pastel border-celeste-pastel shadow-none border-0 py-2 px-5 hover:bg-secondary active:bg-light focus:bg-light">
              Agregar Insumo
            </button>
          </div>
          <div *ngIf="insumosSeleccionados.length > 0" class="border border-gray-300 rounded-lg p-4 mt-4 bg-green-100">
            <h3 class="text-xl font-semibold mb-4">Insumos seleccionados:</h3>
            <ul class="divide-y divide-gray-200">
              <li *ngFor="let insumo of insumosSeleccionados" class="py-4 flex items-center justify-between">
                <div class="flex items-center">
                  <span class="font-medium">{{ insumo.nombre }}</span>
                  <span class="ml-2 text-gray-500">Cantidad: {{ insumo.cantidad }}</span>
                </div>
              </li>
            </ul>
          </div>
          <button type="submit"
            class="mt-4 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Crear Producto
          </button>
          <div *ngIf="productoCreadoExitosamente"
            class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mt-4">
            <p class="font-bold">¡Producto creado exitosamente!</p>
          </div>
        </form>
      </app-crear-producto>
    </div>
    <div *ngIf="productoEliminadoExitosamente" class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mt-4 rounded-md">
      <p class="font-bold">¡Producto eliminado exitosamente!</p>
    </div>
    <div *ngIf="mensajeError" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mt-4 rounded-md">
      <p class="font-bold">{{ mensajeError }}</p>
    </div>
    <app-insumos-modal #agregarInsumoModal></app-insumos-modal>
    <!-- Modificación de producto -->
    <app-modificar-producto #modificarProductoModal (closed)="handleModalClose()"></app-modificar-producto>
  </div>
</div>
<app-footer class="fixed bottom-0 w-full"></app-footer>