<app-header></app-header>
<div class="font-sans">
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-green-950 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-green-300 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>

            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
                    Resetear Contraseña
                </label>
                <form (submit)="submitForm($event)" class="mt-10">
                    <div class="mt-7">
                        <input type="email" placeholder="Correo electrónico" name="email"
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                    </div>

                    <div class="mt-7">
                        <button type="submit"
                            class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            Verificar Correo
                        </button>
                    </div>
                    <div *ngIf="mandoEmailExitoso"
                        class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
                        <p class="font-bold">Envio de codigo exitoso</p>
                        <p class="text-sm">Ve a tu correo para poder cambiar tu contraseña.</p>
                    </div>
                    <div *ngIf="mandoEmailFallido"
                        class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
                        <p class="font-bold">Email fallido</p>
                        <p class="text-sm">Intentalo nuevamente.</p>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>